<h2><%=name%> test</h2>

<div class="container-fluid">
  <div class="row">
    <% ['expected', 'actual', 'diff'].forEach(function(type) { %>
      <div class="col-4">
        <div class="thumbnail">
          <a href='<%= "../../screenshots/"+type+"/" + name + ".png" %>'>
            <img class="img-responsive vr-screenshot" src='<%= "../../screenshots/" + type + "/" + name + ".png" %>'>
            <div class="caption">
              <p><%= type %></p>
            </div>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
</div>